.container-div {
  background-color: white;
  padding: 40px 50px;
  border-radius: 16px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  text-align: center;
  width: 400px;
  max-width: 90%;
}

.message-div {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 25px;
  color: #333;
}